# Secrets
.env
.streamlit/secrets.toml
*.pem
*.key

# dlt
.dlt_pipelines/
.dlt/

# Python
__pycache__/
*.pyc
.venv/
venv/

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
*.log

# DuckDB
*.duckdb
*.duckdb.wal

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

