# folders
notebooks/
node_modules/
venv/
.ipynb_checkpoints/
__pycache__/
outputs/

# files
.DS_Store
*.ipynb

# terraform
*/.terraform/*

# DuckDB 
*.duckdb

# ICS 
*.ics

# env 
.env

# streamlit
*/.streamlit/*

